/* Styles pour le bouton PSG */
.nav-link {
    background-color: transparent; /* Couleur bleue PSG */
    color: #FFFFFF; /* Texte en blanc */
    padding: 10px 20px; /* Marge interne pour le bouton */
    border-radius: 5px; /* Coins arrondis */
    text-decoration: none; /* Supprimer le soulignement du lien */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

/* Au survol, assombrir légèrement la couleur du bouton */
.nav-link:hover {
    background-color: #00428C; /* Couleur bleue PSG légèrement plus foncée */
}
/* Styles CSS pour les statistiques (initialement cachées) */
.card__stats {
    display: none; /* Masquez les statistiques par défaut */
    opacity: 0; /* Rendre les statistiques transparentes */
    transform: translateY(10px); /* Déplacez les statistiques vers le bas de 10px */
    transition: opacity 0.3s, transform 0.3s; /* Ajoutez une transition fluide */
  }
  
  /* Affichez les statistiques lorsque la carte est survolée */
  .card:hover .card__stats,
  .card:hover .card__stats,
  .card:hover .card__stats {
    display: block; /* Affichez les statistiques */
    opacity: 1; /* Rendez les statistiques opaques */
    transform: translateY(0); /* Remettez les statistiques à leur position d'origine */
  }
  
  /* Styles CSS pour redimensionner l'image */
  .image-resize {
    max-width:360%;
    height: auto;
  }
  
  /* Styles de base pour HTML et body */
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", sans-serif;
    transition: background-color 0.2s;
    will-change: background-color;
  }
  
  /* Styles pour l'élément "inspired-by" */
  .inspired-by {
    display: block;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  
  /* Styles pour l'élément "wrapper" */
  .wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    color: #05203d;
  }
  
  /* Styles pour les cartes */
  .card {
    display: block;
    position: absolute;
    top: 25px;
    margin: 0 auto;
    width: 350px;
    background-color: #05203d;
    border-radius: 15px;
    box-shadow: 0 30 50 rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    transition: left 0.5s ease-out;
    will-change: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .card--19 {
    left: 50%;
  }
  
  .card--solstice,
  .card--huarache {
    left: 150%;
  }
  
  /* Styles pour l'en-tête de la carte */
  .card__header {
    position: relative;
    height: 170px;
    padding: 30px 30px 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #fff;
  }
  
  .card__header--19,
  .card__header--solstice,
  .card__header--huarache {
    background-color: #05203d;
    background-image: linear-gradient(#05203d, #FCCB3C);
  }
  
  /* Styles pour la superposition d'image "watermark" */
  .card__watermark {
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  
  .card__watermark::after {
    content: attr(data-watermark);
    position: relative;
    left: -20px;
    color: rgba(0, 0, 0, .0);
    font-size: 240px;
    font-weight: 700;
    text-transform: minuscle;
    background-image: url('https://www.zupimages.net/viewer.php?id=23/41/22s4.png'); /* Remplacez par le chemin de votre image de logo. */
    background-size: cover; /* Ajustez la taille du logo selon vos besoins. */
    background-repeat: no-repeat;
  }
  
  /* Styles pour le logo de la carte */
  .card__logo {
    width: 100px;
    height: auto;
  }
  
  /* Styles pour le prix de la carte */
  .card__price {
    float: right;
    font-size: 16px;
    font-weight: 300;
  }
  
  /* Styles pour le titre de la carte */
  .card__title {
    margin: 35px 0 20px;
    font-size: 15px;
    line-height: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  /* Styles pour le sous-titre de la carte */
  .card__subtitle {
    display: block;
    font-size: 13px;
    font-weight: 300;
  }
  
  /* Styles pour le corps de la carte */
  .card__body {
    position: relative;
    padding: 40px 30px 20px;
  }
  
  /* Styles pour l'image de la carte */
  .card__image {
    z-index: 1;
    position: absolute;
    top: -280px;
    width: 125%;
    left: 10000; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  /* Styles pour la liste de souhaits de la carte */
  .card__wish-list {
    display: block;
    width: 50%;
    margin: 0 auto 15px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .card__wish-list--19,
  .card__wish-list--solstice {
    color: #05203d;
    border-color: #05203d;
  }
  
  .card__wish-list--huarache {
    color: #26C9F7;
    border-color: #26C9F7;
  }
  
  /* Styles pour la catégorie de la carte */
  .card__category {
    display: block;
    font-size: 12px;
    color: #AEAEAE;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* Styles pour les éléments animés */
  .card__will-animate {
    will-change: transform;
  }
  
  /* Styles pour les éléments de placeholder */
  .cards-placeholder {
    display: block;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .cards-placeholder__item {
    opacity: 0.3;
    display: inline-block;
    margin-right: 10px;
    background-color: #05203d;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    transition: opacity 0.2s;
    will-change: opacity;
  }
  
  .cards-placeholder__item--active {
    opacity: 1;
  }
  
  /* Ajout de styles pour les statistiques des cartes solstice et huarache */
  .card.card--.card__header--19.card__stat,
  .card.card--solstice .card__stats,
  .card.card--huarache .card__stats {
    color: #ffffff; /* Changez la couleur des statistiques */
  }
  